.button {
    border: #4b51ef 1px solid;
    background-color: #4b51ef;
    border-radius: 5px;
    color: #fff;
    padding: 5px 15px;

    &:active {
        background-color: #444ad3;
    }

    &:disabled {
        background-color: #afafaf;
        border-color: #afafaf;

        &:active {
            background-color: #afafaf;
            border-color: #afafaf;
        }
    }

    &_secondary {
        background-color: #52cf4f;
        border-color: #52cf4f;

        &:active {
            background-color: #6cec6a;
        }
    }
}
