.sidebar {
    background-color: #bdbdbd;
    position: fixed;
    height: 100vh;
    width: 152px;

    &__controls-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 35px 21px;
    }

    &__controls-element {
        margin-bottom: 10px;
    }
}
